<p id="notice"><%= notice %></p>

<h1>Listing Pnms</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pnms.each do |pnm| %>
      <tr>
        <td><%= pnm.name %></td>
        <td><%= link_to 'Show', pnm %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pnm', new_pnm_path %>
