/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#footer{
	/*position: absolute;*/
	padding-top: 100px; 
}

.name { /*here*/
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;

	font-weight: bold; 
	padding: 40px; 

	text-align: center;
    color: #f35626;


    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
    font-size: 80px; 

    -webkit-text-size-adjust: 160px; 

}
#ind-back{
	/*padding-top: 10px;*/
	/*margin: 0;*/
	font-family: Helvetica, Arial, Tahoma, sans-serif; font-size: 62.5%; color: #333; text-align:left; 
	background: url(https://res.cloudinary.com/hcbnkv7rr/image/upload/v1443128247/med_boy-valentine-owl_nksvsu.png) no-repeat;  
	background-size: 380px auto;
	background-position: 70% 40%; 
  -webkit-background-size: left bottom;
  -moz-background-size: left bottom;
  -o-background-size: cover;
  /*background-size: cover;*/

  /*opacity*/
}	